[2017-06-22 17:50] rphmeier opened #2 "Start PoA network with "additional" authorities beyond the initial list"
This would help testing PoA networks where the set of authorities will transition at an expected time

[2017-06-23 17:21] ddorgan commented on #2
Hi Rob,
       Thanks for raising this, I'll need to do two things on this:

1) Maybe change it so you can have a more fine grained input config file.
2) Update the README.md and put more info there.

But for now, if you say wanted to spin up a few authority nodes and maybe have additional authorities, if you edit the file: parity-deploy/config/spec/engine/aura and edit:

"list": [ 0x0000000000000

[2017-06-23 18:04] rphmeier commented on #2
Changing the fixed list once the chain has launched will lead to errors further on. We usually do transitions via a "multi" set that switches lists/contracts based on block number. so something like
[code]

[2017-06-23 18:45] ddorgan commented on #2
Hi Robert,
           Thanks for explaining, will look into this. I know it's a bit hacky but as mentioned can you not just paste that whole thing into config/spec/engine/aura:

e.g. before:
Before:

        "engine": {
        "authorityRound": {
            "params": {
                "gasLimitBoundDivisor": "0x400",
                "stepDuration": "5",
                "multi": {

[2017-06-23 18:47] ddorgan commented on #2
Sorry this is assuming you already have the keys for 0xAAAA, 0xBBBB and would connect some test nodes manually later using the whole new spec.json and say a reserved-peers file to point at the docker instance.

Thanks,
David

[2017-07-31 14:33] keorn opened #4 "Test transaction corpora"
Generate files with json arrays of the following RPC objects:
- [x] zero value tx from account to 0: eth, personal
- [x] presigned zero value tx from account to itself
- [ ] presigned zero value tx from multiple accounts
- [ ] realistic public net txs
- [ ] contract deployments
- [ ] skipped nonce

[2017-08-01 09:03] keorn opened #6 "Add CLI doc"

[2017-08-01 10:30] ddorgan commented on #6
How's this? https://github.com/paritytech/parity-deploy/pull/7

[2017-08-01 11:44] #6 closed

[2017-08-01 15:45] keorn commented on #4
https://drive.google.com/drive/folders/0B8F2pjh7CQ9vREM5TGNEOC1fS1U?usp=sharing

[2017-08-14 09:53] keorn opened #11 "Run Blockbench"
https://docs.google.com/document/d/1B91PbmHLgiTiMazVDSp1R_RUrXeK5qtSPnxkhSjqdbI/edit?usp=sharing

[2017-08-22 12:18] ddorgan commented on #2
Hi Rob,
      Does this https://github.com/paritytech/parity-deploy/pull/19 help? You can put all the custom chain info into one file and have this build the docker configuration.
David

[2017-08-23 09:28] rphmeier commented on #2
could you describe how it helps with this issue? being able to generate multi-transitions and authority configurations for each address contained within the multi-set's children is more what we need.

This would be especially nice if contract templates were integrated, so it could create node configuration from the contract's initial list. Further on, we could have parity-deploy create a node conf

[2017-08-24 15:13] keorn commented on #2
Right now this is done the other way. Similar to test RPC, where Parity Deploy comes with a bunch of pre-specified addresses which you can use to write your contracts and specs.

[2017-09-01 14:18] keorn opened #22 "yaml misformated"
Latest commit: `./parity-deploy.sh --config aura -n 5`
`docker-compose up -d`
[code]

[2017-09-04 17:06] keorn commented on #22
@ddorgan can this be closed?

[2017-09-04 17:08] keorn opened #23 "Expose multiple containers"
e.g. by spacing each container ports by 100

[2017-09-04 20:24] #22 closed

[2017-09-04 20:24] ddorgan commented on #22
Yip, this is resolved.

[2017-09-05 21:00] daverod24 opened #24 "There was an error reading your config file at: /parity/authority.toml"
## trying to set

```./parity-deploy.sh --config aura --nodes 2 --name test```
![image](https://user-images.githubusercontent.com/981954/30083068-ae4a40d0-9252-11e7-975c-6c87820ac928.png)

## This is my configuration but being original also gives error
![image](https://user-images.githubusercontent.com/981954/30083054-a10090a0-9252-11e7-961b-ec927c360eb3.png)

## the configuration throws two error

[2017-09-05 21:04] ddorgan commented on #24
Hi there,
          Could you run this and check if it helps? Just execute:

```rm -rf deployment && ./parity-deploy.sh --config aura --nodes 2 --name test```

Let me know if this helps...

[2017-09-06 03:38] daverod24 commented on #24
the same problem is not fixed.

it says that it is not a file I was reviewing as I can fix it I mount it separately as a volume in a busybox and mount the file perfectly but I do not know what I can do

[2017-09-06 10:53] keorn opened #25 "Enable secret store testing"
Doc: https://github.com/paritytech/parity/wiki/Secret-Store
Example scripts: https://github.com/svyatonik/sstore_test

`--secret-store` and defaults to all nodes being key servers?

[2017-09-06 12:10] keorn opened #26 "Download only once"
Especially ethstats takes pretty long to get for multiple nodes, though then setup is more single machine specific.

[2017-09-06 16:48] daverod24 commented on #24
@ddorgan  how to deploy  aura??

I made git clone on another pc and try

`` `git clone https://github.com/paritytech/parity-deploy.git` ``

then

`` `./parity-deploy.sh --config aura --nodes 2 --name test` ``

and I get the same error

[2017-09-06 16:50] daverod24 commented on #24
cuando hago deploy  en dev

```./parity-deploy.sh --config dev --name test```

trabaja bien

[2017-09-06 16:52] ddorgan commented on #24
Which distro are you using? And what version?
Also could you maybe tar up the parity-deploy dir and make it available so I can take a look.
I sometimes get this if I'm using lots of different configs, but when I ```rm -rf data deployment docker-compose.yml ``` and re-run parity-deploy.sh it works.

[2017-09-06 17:18] ddorgan commented on #26
Hi Peter,
         Can you re-try running it again. Do you see it re-download ethstats? Docker should only do this once, once you don't wipe your docker images. It does take a while, they're over 1.3g in size combined:

buythewhale/ethstats_monitor   latest              5adf546983cd        5 months ago        477.2 MB
buythewhale/ethstats           latest              9019cb3b4556        5 months

[2017-09-06 17:18] daverod24 commented on #24
I tested it in two distros
Linux drodrila-ever 4.9.47-1-MANJARO # 1 SMP PREEMPT Sat Sep 2 07:29:38 UTC 2017 x86_64 GNU / Linux
and also
Linux testing 4.9.0-3-amd64 # 1 SMP Debian 4.9.30-2 + deb9u2 (2017-06-26) x86_64 GNU / Linux

I'm going to prove what you tell me and I'll tell you

[2017-09-06 17:26] keorn commented on #26
True

[2017-09-06 17:26] #26 closed

[2017-09-06 17:46] daverod24 commented on #24
I do not know what I did but erased everything I made git clone
  and then I did your steps and now is running in local

![image](https://user-images.githubusercontent.com/981954/30126238-fe718038-9300-11e7-9a80-5bbcc990e13d.png)

I am missing a test to see if I run in azure container services that I need it there with swarm
I was going to ask you how to make the volumes were in azure storage.?

I

[2017-09-07 10:57] ddorgan commented on #24
I'm not 100% sure on the azure storage, but once docker-compose can talk to the backend and it's listed, it should just work. I've only ever tried this with kubernetes myself.

Can this issue be closed?

[2017-09-07 21:13] daverod24 commented on #24
the problem persists when I want to have the files in swarm in azure!

in local on my machine if nodes work perfectly

I try to do this for the data to take from my volume of swarm

```docker cp deployment / storageazure: / deployment```

after

I add the volumes in docker-compose and I get the errors of not finding the file of authority.toml
try several configurations, it will be that somehow you

[2017-09-08 11:59] keorn opened #30 "Ethstats"
`./parity-deploy.sh --config aura --ethstats`, go to 3001 and no nodes appear

[2017-09-08 12:09] keorn opened #31 "No UI"
`./parity-deploy.sh --config aura` (or ` --release nightly`), nothing on 8180

[2017-09-08 17:01] daverod24 commented on #31
the same happens to me

I made some changes to open the UI inside the containers:

install ntpdate

``` sudo ntpdate -s us.pool.ntp.org ```
then in the authority.toml enter the ui
[code]
and later

``` /parity/parity --chain /parity/spec.json --config /parity/authority.toml -d /parity/data/ signer new-token ```

and sometimes he takes it but now he has not caught me again

[2017-09-08 19:45] ddorgan commented on #31
You did have an up to date repo right? So you can reproduce using:
``` git clone git@github.com:paritytech/parity-deploy.git ; cd parity-deploy ; ./parity-deploy.sh --config aura ```
Then run curl:  ``` curl -s http://localhost:8180 | grep parity ``` you don't get output:
  <link rel="shortcut icon" href="parity-logo-black-no-text.png"><link href="styles/index.4d982b90d6.css" rel="stylesheet"></he

[2017-09-08 19:47] ddorgan commented on #30
Again, 100% sure you have an up to date repo? This was an issue a few days ago. I see a host when I checkout parity-deploy and run this command.

There does seem to be some new issue not showing the transaction numbers since after 1.6.10, I'll look into that.

Let me know if you can reproduce this one.

[2017-09-14 20:50] ddorgan commented on #31
Any update on this Peter?

[2017-09-14 20:50] ddorgan commented on #30
Any update on this Peter?

[2017-09-14 20:51] ddorgan commented on #24
Hi there,
        As mentioned before, any  chance you could tar up the whole directory and put it somewhere so I can take a look. Just want to 1) double check the config and 2) use the same swarm settings.

The actual files are a more useful than screenshots.

Thanks!

[2017-10-13 09:58] #30 closed

[2017-10-13 09:58] #31 closed

[2017-10-19 10:37] #2 closed

[2017-10-19 10:38] #24 closed

[2017-10-27 05:59] 0x7CFE opened #36 "Client fails to setup due to race during docker node startup"
When deploy is invoked with like `./parity-deploy.sh --config aura -n 1 -r nightly --min-gas-price 0 --enable-client --reserved-only`, client node is created.

Unfortunately the following scenario is possible: https://gist.github.com/0x7CFE/df64afad8244e74156a772a6b2df28f0

**tl;dr:** Client fails to start due to failed name resolution (related to https://github.com/paritytech/parity/issues/6907).

[2017-10-27 07:51] 0x7CFE commented on #36
Found the best solution so far and it is: https://docs.docker.com/compose/startup-order/
So, `client` node should depend on all `host`s. That would fix the race.

[2017-10-30 12:10] 0x7CFE commented on #36
Unfortunately that wasn't enough. On a more complex case other than 1 client 1 authority, the problem remains. That's because each authority node is configured so that other authorities are set as reserved nodes. So `host1` depends on `host2` and vice versa.

This results in the following dead loop:

[code]

We need either to solve nameserver issues, retry resolution after some time or bring all h

[2017-11-01 12:23] melnikaite commented on #31
I have no UI as well running `git clone git@github.com:paritytech/parity-deploy.git; cd parity-deploy; ./parity-deploy.sh --config dev; docker-compose up` and `curl -s http://localhost:8180` returns nothing.

The problem is that docker-compose.yml doesn't contain a list of exposed ports. Even after exposing `8180` it suggest me to run `parity signer new-token` because token from output logs doesn'

[2017-11-05 13:26] roderik opened #38 "Does not work at all on OSX"
I was trying to generate a new docker config on OSX, but it does not work at all:

* parity is installed by homebrew, but `if [ ! -f /usr/bin/parity ] || [ ! "$PARITY_RELEASE" == "" ] ; then` is not the correct check since it reisdes in `/usr/local/bin/parity`. The oneline installer tries to do something funky with the keychain and then fails.

* sed on OSX is not gnu sed.

[code]

[2017-11-10 08:36] 0x7CFE opened #39 "Client node is not added to the `reserved_peers` list"
When client node is created using `--enable-client` looks like it is not added to the `reserved_peers` list. If `--reserved-only` option is passed it results in nodes not seeing each other.

I don't quite understand why client node is not set as reserved. Is there some reasoning for it?

[2018-02-19 12:09] ThomasBouquet95 opened #40 "Unable to connect ethstats"
Hi all,
I am trying to deploy a network of 3 peers with ethstats.
I entered these commands:

[code]

Then, when I go to the page "http://localhost:3001/", i don't see my nodes. Is there a problem with ethstats config of parity deploy ?

Thanks !

[2018-02-19 12:32] ddorgan commented on #40
If you check the docker-compose logs and search for dashboard do you see entries like these ones below?

[code]

[2018-02-19 12:39] ThomasBouquet95 commented on #40
No I don't have thoses.

It seems that there is a problem with my nodes but I didn't modify the config file ...

[code]

[2018-02-19 13:00] ddorgan commented on #40
What's the parity version on the local system? Also can you move the deployment directory away (or delete it) and run the parity-deploy.sh command again and see if docker-compose up works.

[2018-02-19 13:10] ThomasBouquet95 commented on #40
My parity version : Parity/v1.9.2-beta-0feb0bb-20180201/x86_64-linux-gnu/rustc1.23.0
I removed the file and wrote :

jassu@jassu-ThinkPad-T431s:~/Documents/test/parity-deploy$ sudo su
[code]
Then docker-compose up -d
Here are my logs :

[code]

[2018-02-19 13:17] ddorgan commented on #40
Just to check if it is related to this: https://github.com/paritytech/parity/issues/7925 ... Could you try editing the docker-compose.yml and change the image from parity/parity:beta to parity/parity:stable and see if this helps.

[2018-02-19 13:29] ddorgan commented on #40
No problem at all! I think this should be resolved in the next beta release.

Can you edit the files deployment/[1][2][3]/authority.toml and change the line:

cors = "all"
to
cors = ["all"]

Or just change it at the source (config/spec/authority_round.toml) and run ./clean.sh and then your parity-deploy.sh command again.

[2018-02-19 13:36] ThomasBouquet95 commented on #40
It solves the problem for node2 & 3, not for node 1.

[code]

[2018-02-19 13:47] ThomasBouquet95 commented on #40
I cleaned it again and start it again (with the modification in config/spec/authority_round.toml) and it works !

However, I still have issues with ethstats, my nodes disconnect constantly (become grey offline) and I don't see the block number increasing (excep sometimes when I reload the page ...). I think that it is a problem with my nodes.

[code]

[2018-02-20 16:27] gmile opened #41 "Parity dashboard works only partially"
I've just installed parity on a VM instance in Google, and I can't seem to get fully working. It's somewhat partially working though.

![image](https://user-images.githubusercontent.com/207112/36435726-1ce12c92-166b-11e8-8644-b1971e8be50f.png)
(the ip on the screenshot is fake)

Note the red path to config in the top right – does this indicate something is wrong?

I've made sure these ports are ex

[2018-02-20 18:06] ddorgan commented on #41
Can you try using something like this to connect to the host and see if it helps?

[code]

Then try and connect to http://localhost:8180/

[2018-02-21 13:10] froid1911 commented on #38
Same here, on Ubuntu its working :-(

[2018-02-23 11:33] ddorgan commented on #41
Hi there, basically you would need to login to the system and execute parity signer new-token in order to get a token. Or else run it with --clients and use docker-compose logs and check for the UI token there.

[2018-02-23 11:34] ddorgan commented on #38
Hi there, parity-deploy is currently only supports linux as the base o/s I'm afraid...

[2018-02-23 11:34] #38 closed

[2018-02-23 11:35] ddorgan commented on #11
Closing ... a repo was created for this purpose. https://github.com/ddorgan/blockbench-docker

[2018-02-23 11:35] #11 closed

[2018-02-23 11:36] ddorgan commented on #36
I believe a fix was introduced for this. Can you please retest.

[2018-02-23 16:33] gmile commented on #41
Hi @ddorgan I did that back when I was making the screenshots above. As you can see, one of the screenshots has the code in it (black text on dark grey background.

So I was unable to fix the issue with UI, but the API is working and that was what I need from the start... so I don't know, I guess we can close the issue.

[2018-02-23 16:33] #41 closed

[2018-03-16 10:14] mengjiaqi opened #42 "invalid type: string "all", expected a sequence for key `rpc.cors`"
when i start parity with parity-deploy project, it shows me
[code]
and, the commands i used ware
[code]

[2018-03-16 10:24] mengjiaqi commented on #42
this error only find in version v1.9.* & beta.
when i run it with version v1.8.11 & stable, it works well

[2018-03-16 12:56] ddorgan commented on #42
Yes, this options seems to have changed between 1.8 and 1.9 ... i'll make an update.

[2018-03-21 21:56] ddorgan commented on #42
Can you please try now after https://github.com/paritytech/parity-deploy/commit/792912be2ef784f1ade6c79f4d436257152dec57

[2018-03-21 21:56] ddorgan commented on #23
Closing.

[2018-03-21 21:56] #23 closed

[2018-03-21 21:57] ddorgan commented on #36
@0x7CFE is this still any issue?

[2018-03-21 21:57] ddorgan commented on #39
@0x7CFE yes as the client only needs to connect to the authorities rather than needing the authorities connect to it. Agreed? Can this be closed?

[2018-03-21 21:58] ddorgan commented on #40
@ThomasBouquet95 Can you try with the latest version of parity. Still an issue?

[2018-03-21 21:59] ddorgan commented on #4
Resolved and files links in the README.md

[2018-03-21 21:59] #4 closed

[2018-03-22 07:19] mengjiaqi commented on #42
@ddorgan OK, i'll try it and share the resoult

[2018-04-03 20:29] resolver opened #46 "after execute parity-deploy.sh - i got the result "read EC key""
if i execute the "sudo ./parity-deploy.sh --config aura --nodes 2 --ethstats" i got the result "read EC key".  I have no Idea what is wrong. i have no UI on http://localhost:8180/.

i use the ubuntu:

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 17.10
Release:	17.10
Codename:	artful

my history:

  1  ping google.com
    2  g++ --version
    3  sudo apt-get install g++

[2018-04-04 08:04] resolver commented on #46
this is the issue:

./config/utils/keygen.sh

#!/bin/sh
#
# Taken from: https://kobl.one/blog/create-full-ethereum-keypair-and-address/
# Create a secp256k1 ec keypair

TMPFILE=`mktemp`

# Generate the private and public keys
openssl ecparam -name secp256k1 -genkey -noout |   openssl ec -text -noout > $TMPFILE

# Extract the public key and remove the EC prefix 0x04
cat $TMPFILE | grep pub -A 5 | t

[2018-04-04 10:16] ddorgan commented on #46
@resolver can you just try and go ahead and launch everything with docker-compose up ? This isn't an error, it's expected....

[2018-04-04 10:16] ddorgan commented on #42
@mengjiaqi any update on this?

[2018-04-04 10:17] ddorgan commented on #36
@0x7CFE any update on this?

[2018-04-05 10:51] resolver commented on #46
hi ddorgan,

i think it`s a problem with docker image and ubuntu 17.10.

i have tried:

 1144  sudo apt-get clean
 1145  sudo apt-get autoremove
 1146  sudo apt-get check
 1147  sudo ./go.sh
 1148  cd dev-lab-new/
 1149  ls
 1150  cd parity_bc/
 1151  sudo ./go.sh
 1152  docker-compose logs -f
 1153  docker-compose
 1154  docker-compose logs
 1155  ls
 1156  cd test/
 1157  ls
 1158  cd parity-dep

[2018-04-05 10:54] ddorgan commented on #46
@resolver can you try adding --enable-client to the end of your ./parity-deploy.sh command, this should expose the ports the port 8180 ...

[2018-04-05 11:53] resolver commented on #46
ok just a moment

[2018-04-05 12:00] resolver commented on #46
ddorgan it works ;) many thanks - now i have an UI with:

"To proceed you need to generate a new security token by running the following command in your terminal
$ parity signer new-token
Then copy & paste the newly generated token here"

ed@ubuntu:/usr/bin$ sudo parity signer new-token
Error generating token: Error { repr: Os { code: 2, message: "No such file or directory" } }

i try to install p

[2018-04-05 12:02] resolver commented on #46
same issue:

ed@ubuntu:/usr/bin$ sudo snap install parity
parity 1.9.5 from 'devops-parity' installed
ed@ubuntu:/usr/bin$ whereis parity
parity: /usr/bin/parity /snap/bin/parity
ed@ubuntu:/usr/bin$ cd /snap/bin
ed@ubuntu:/snap/bin$ sudo parity signer new-token
Error generating token: Error { repr: Os { code: 2, message: "No such file or directory" } }
ed@ubuntu:/snap/bin$

[2018-04-05 12:03] resolver commented on #46
ed@ubuntu:/snap/bin$ sudo parity signer new-token -lsigner=trace
2018-04-05 05:03:00  main TRACE signer  New authentication token generated.
Error generating token: Error { repr: Os { code: 2, message: "No such file or directory" } }
ed@ubuntu:/snap/bin$

[2018-04-05 12:08] resolver commented on #46
i have tried the same on ubuntu 16.04 LTS.

here is my history from terminal 1:
ed@ubuntu:/snap/bin$ history
    1  su
    2  exit
    3  sudo apt-get update
    4  exit
    5  sudo apt-get install curl
    6  curl
    7  sudo apt-get update
    8  curl
    9  sudo apt-get install curl
   10  curl
   11  exit
   12  sudo apt-get install git
   13  sudo apt-get install python-pip
   14  sudo apt-ge

[2018-04-05 12:15] resolver commented on #46
one virtual machine:
ed@ubuntu:~/dev_lab$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.4 LTS"
ed@ubuntu:~/dev_lab$ docker -v
Docker version 1.13.1, build 092cba3

second virtual machine:
osboxes@osboxes:/usr/bin$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=17.10
DISTRIB_CODENAME=artful
DISTRIB_DESCRIPTION="Ubuntu

[2018-04-05 12:27] resolver commented on #46
ed@ubuntu:~/dev_lab/test3/parity-deploy$ sudo docker-compose up
host2 is up-to-date
paritydeploy_monitor_1 is up-to-date
paritydeploy_dashboard_1 is up-to-date
host1 is up-to-date
client is up-to-date
Attaching to host2, paritydeploy_monitor_1, paritydeploy_dashboard_1, host1, client
host2        | Loading config file from /parity/authority.toml
host2        | 2018-04-05 11:57:28 UTC Starting Pari

[2018-04-05 13:53] resolver commented on #46
ddorgan many many thanks you are the best ;)
ed@ubuntu:~/dev_lab/test/parity-deploy$ sudo docker-compose logs | grep token
client       | Open: http://0.0.0.0:8180/#/auth?token=fxXY-XA22-raWs-1TTb
client       | Or use the generated token:
client       | 2018-04-05 13:31:41 UTC Blocked connection from http://127.0.0.1:8180 using invalid token.
client       | 2018-04-05 13:32:20 UTC Blocked connect

[2018-06-14 05:44] 0x7CFE commented on #36
@ddorgan, sorry for the late response. I haven't used docker recently. Probably would be better to ask someone, who is working on it now.

[2018-06-14 05:44] #39 closed

[2018-06-15 16:35] ddorgan commented on #46
@resolver is this still an issue with the latest master?

[2018-06-15 16:35] ddorgan commented on #36
@0x7CFE Thanks! Closing issue.

[2018-06-15 16:35] #36 closed

[2018-06-15 16:36] ddorgan commented on #40
@MaxXor can you provide the docker-compose logs please.

Also if you wipe the data directory and start again from scratch does the issue go away?

[2018-06-15 16:37] ddorgan commented on #42
Resolved with https://github.com/paritytech/parity-deploy/commit/792912be2ef784f1ade6c79f4d436257152dec57 .. no reply, closing ticket.

[2018-06-15 16:37] #42 closed

[2018-06-16 16:12] MaxXor commented on #40
It's basically the same log as shown in the post from @ThomasBouquet95. No, it doesn't go away.

[2018-06-25 20:40] codyborn opened #47 "Parity install script failing for specific version"
The Parity client install script fails when using a specific version. Example:
bash <(curl https://get.parity.io -Lk) -r v1.10.6

dpkg-deb: error: '/tmp/tmp.VAwOMY2BP7/parity_1.10.6_ubuntu_amd64.deb.md5' is not a debian format archive

The problem is that the installation script will accidentally download the .md5 file instead of the .deb file.
https://raw.githubusercontent.com/paritytech/scripts/

[2018-06-25 20:46] codyborn commented on #47
Ignore this issue.  Re-opening under correct repo:
https://github.com/paritytech/scripts

[2018-06-25 20:46] #47 closed

[2018-08-13 07:12] whitenoiseL opened #48 "Question about key.priv and address.txt"
Just two quick questions about key.priv and address.txt.

Why the address I generate from private key which is stored in key.priv is different from the address that is stored in address.txt?

What if I want to use my own account as miner in aura?

[2018-08-15 02:54] whitenoiseL commented on #48
I find the way to use my own account as miner finally. It turns out that even if I remove key.priv, key.pub and address.txt, the POA chain can still be built up without error. So I guess these three files have nothing to do with the chain configuration. Then what are they generated for?

[2018-08-16 13:29] crossoveranx opened #49 "Running docker-compose logs returns no token"
Currently trying to utilize this parity repo with a PoA chain and I can't seem to get an appropriate account that is funded. I am trying to open the UI with SSH'ed into a remote node. I have tried the | grep token option, but it returns nothing from the logs. When I go to inspect the logs manually, I don't see any token generated:

host2    | Loading config file from /parity/authority.toml
host2

[2018-08-16 14:15] #46 closed

[2018-08-16 14:17] ddorgan commented on #49
Can you run the setup again and this time include --enable-client and see this displays a token.

Other than that, if you want to generate a token from within a container you should be sure to specify the correct toml configuration file, so it selects the right path.

[2018-08-16 14:17] ddorgan commented on #48
I think there was some change here. Let me look into this and get back to you.

[2018-08-17 05:54] whitenoiseL commented on #48
@ddorgan It seems there are something wrong with the generated files (i.e key.priv, key.pub), therefore the enodes in reserved_peers file are also wrong.
If we start a POA chain, let's say a 2-node-POA, those two nodes are not connected with each other.  We need to correct the information that is stored in reserved_peers to make them connected. For me, I get the right enode information by post par

[2018-08-17 09:36] ddorgan commented on #49
@crossoveranx actually since the UI is being split out from the main codebase you may need to also download the parity ui / https://github.com/parity-js/shell

[2018-08-17 09:37] ddorgan commented on #48
@whitenoiseL yes there were some changes in a recent release that I need to build into parity-deploy. Will keep you posted once I have a PR merged.

[2018-08-17 12:31] ddorgan commented on #48
@whitenoiseL please checkout the lastest master and let me know if this helps. It's been switched to use parity-ethereum stable.

Let me work on the key issues beyond that, as I'll need to run quite a lot of tests on different versions to make sure the update works everywhere.

[2018-08-17 12:31] #40 closed

[2018-08-17 15:08] whitenoiseL commented on #48
@ddorgan The latest change doesn't help much. The issue is still the same. The address in address.txt does not match the address generated from private key which is stored in key.priv.
The enode information changes everytime when I rebuild the chain. Does that mean the enode information can only be got after the chain is up? Or do I understand it wrong.

![wechat screenshot_20180817230256](https:/

[2018-08-17 15:11] ddorgan commented on #48
Can you please run sudo bash clean.sh and then run something like parity-deploy.sh --config aura --nodes 3 (for example).

[2018-08-17 16:03] whitenoiseL commented on #48
@ddorgan Well, it didn't work. The enodes are still not match.
![wechat screenshot_20180818000114](https://user-images.githubusercontent.com/16938270/44276427-f5993080-a279-11e8-9079-3a277d795f8c.png)

[2018-08-17 16:06] ddorgan commented on #48
Please ensure you have parity stable (v1.11.8) installed locally (in /usr/local/parity) and try again, thanks.

[2018-08-17 16:34] whitenoiseL commented on #48
@ddorgan Yeah, thanks a lot! It works now! All nodes are connected. However the enodes show from parity still don't match what is stored in reserved_peers. But they do connected now. I am still trying to figure out why. Thanks anyway!

[2018-08-20 10:18] crossoveranx commented on #49
@ddorgan

I have tried both of your suggestions, however it still does not function:

client    | error: Found argument 'ui' which wasn't expected, or isn't valid in this context
client    |
client    | USAGE:
client    |     parity --ui-no-validation
client    |
client    | For more information try --help
client exited with code 1

Is the error I'm now receiving

[2018-08-21 12:48] drandreaskrueger opened #51 "libstdc++.so.6: version `GLIBCXX_3.4.22' not found"
### Problem
nodes are not there.

yes http://localhost:3001/ comes up - but bottom half of the page is empty

and no answer on :8545
[code]

### How to replicate the problem:
happened with commit 57267338cb7b2003a0322408dc4daeedfaf88e53
[code]

[code]

[code]

Ctrl-C
[code]

[2018-08-21 12:49] drandreaskrueger commented on #51
simpler:

[code]

[2018-08-21 12:57] drandreaskrueger commented on #51
In the `docker-compose.yml` I have also tried to manually replace

    image: parity/parity:stable

 with

    image: parity/parity:v1.11.7

but then it gets worse:

[code]
even more libraries missing

[2018-08-21 12:58] drandreaskrueger commented on #51
simplest way to recreate the problem:

[code]

[code]

[2018-08-21 13:01] drandreaskrueger opened #52 "Invalid node address format given for a boot node"
[code]

[code]
[code]

[2018-08-21 13:02] drandreaskrueger commented on #52
commit 57267338cb7b2003a0322408dc4daeedfaf88e53

[2018-08-21 13:06] drandreaskrueger commented on #51
same when I replace

    image: parity/parity:stable

with

    image: parity/parity:beta

-->

[code]

[code]

[2018-08-21 13:39] drandreaskrueger commented on #51
Why all this?
I do not want to repair your docker problems, but simply benchmark parity PoA, to be able to compare it with e.g. quorum IBFT and geth Clique (see my [chainhammer](https://gitlab.com/electronDLT/chainhammer) tools & results); and I need some simplistic multi-node PoA network for that.

Instead, I am going to benchmark with https://github.com/orbita-center/parity-poa-playground now. T

[2018-08-21 16:19] ddorgan commented on #51
Strange. What o/s and version are you using??

For example on a clean ubuntu 16 system using the command ``` ./parity-deploy.sh --config aura --name myaura --nodes 4 --ethstats``` I get:

[code]

[2018-08-21 16:25] ddorgan commented on #25
Closing.

[2018-08-21 16:25] #25 closed

[2018-08-21 16:26] ddorgan commented on #52
Can you please re-try with the latest master.

Fix: https://github.com/paritytech/parity-deploy/pull/53

[2018-08-21 16:35] drandreaskrueger commented on #52
[code]

Looks good. Thanks.

[2018-08-21 16:35] drandreaskrueger commented on #52
I suggest you turn that into a test that can be run automatically.

[2018-08-21 17:19] ddorgan commented on #49
Also there has been an update to remove the UI from parity-deploy, can you please checkout the latest master.

[2018-08-21 21:19] ddorgan commented on #51
Yes, what's the output of /usr/bin/parity --version (on the docker host, not the container).

I setup a new debian host from scratch and don't seem to have the same issue. Here's some version info:

Newly installed debian host:

[code]

Docker info:

[code]

Could you run ```  docker run  --entrypoint "ldd /parity/parity" parity/parity:stable ``` and send the output of ``` ldd /parity/parity``` ..

[2018-08-21 21:24] ddorgan commented on #52
Will do!

[2018-08-21 21:24] #52 closed

[2018-08-23 08:35] ddorgan commented on #49
So with the latest master you should be able to connect to localhost:8545 via the parity-ui and not use the web based UI itself. Closing the ticket, let me know if you have any issues.

[2018-08-23 08:35] #49 closed

[2018-08-29 08:34] drandreaskrueger commented on #51
[code]

[2018-08-29 08:36] drandreaskrueger commented on #51
[code]

[2018-08-29 08:39] drandreaskrueger commented on #51
[code]

[2018-08-29 08:49] drandreaskrueger commented on #51
[code]

[code]

[2018-08-29 08:52] drandreaskrueger commented on #51
[code]

[code]
[code]

Nope, sorry.

Broken.

[2018-08-29 09:01] drandreaskrueger commented on #51
Is `parity/parity:stable` the docker image your tool is using too?

By itself it runs without problems:
[code]

[2018-08-29 09:07] drandreaskrueger commented on #51
what can I try out for you, to help you debugging this bug?

Would it lead anywhere if we somehow isolate the problem?

How would I call docker manually and directly, without docker-compose?

Somehow like this?
[code]
But then I get a
[code]

[2018-08-29 09:13] drandreaskrueger commented on #51
OR:

Does one of these help you to find out where this bug might come from?

* https://github.com/nodejs/docker-node/issues/259
* https://github.com/nodejs/docker-node/issues/329
* https://github.com/paritytech/parity-ethereum/issues/8092
* https://github.com/paritytech/parity-ethereum/issues/8816
* https://stackoverflow.com/questions/50166375/parity-upgrade-error-parity-lib-x86-64-linux-gnu-libcr

[2018-08-29 11:10] ddorgan commented on #51
Oh ok ... so parity/parity:stable runs ok by itself but when you ready docker-compose up you have issues?

Can you wipe the data dir and tar up the whole thing and let me take a look, please?

[2018-08-29 11:11] ddorgan commented on #51
BTW, not sure why you are seeing:

[code]

You already had the v1.10.8-stable version, right?? No weird permissions issues there?

[2018-08-29 12:06] ddorgan commented on #51
BTW, you have tried this on a clean system right? There's nothing really funky with your setup in general? :-)

The reason I'm asking is I did deploy a fresh debian system and didn't see these issues myself....

[2018-08-29 14:21] drandreaskrueger commented on #51
No, this is the machine on which I am typing this.

Installed in 2016 if I remember correctly. But it's working just fine.

Nope. All good. And with none of the benchmarked systems (log.md, quorum.md, tobalaba.md, quorum-IBFT.md in [chainhammer](https://gitlab.com/electronDLT/chainhammer)) I have had any such problems.

but thi [problem is not unknown](https://github.com/paritytech/parity-deploy/i

[2018-08-29 14:31] ddorgan commented on #51
@drandreaskrueger thanks for the zip, will take a look.

BTW, can you add one option to parity.....add ``` --force-direct ``` this will use the binary in docker and not allow it to redirect to any update.

Will let you know how I get on with the zip.

[2018-08-29 14:36] ddorgan commented on #51
Please remove this from the docker-compose.yml:

[code]

[2018-08-29 14:43] drandreaskrueger commented on #51
# hooray

that's it.

Please push an update to your repo, thanks.

[2018-08-29 14:52] ddorgan commented on #51
Merged: https://github.com/paritytech/parity-deploy/pull/54

Will look into your other ticket now and maybe suggest some option changes.

[2018-08-29 14:52] #51 closed

[2018-08-29 15:04] drandreaskrueger commented on #51
just to understand where this bug came from:

you were using the wrong `parity` binary, right?

[2018-08-29 15:26] ddorgan commented on #51
Yes, made two steps forward and one step back. This was only introduced about a week ago :/

[2018-09-04 08:43] drandreaskrueger opened #55 "(FR) user defined parameters"
At the moment I am [manually adding](https://github.com/paritytech/parity-ethereum/issues/9393#issuecomment-418285813)
[code]
to the resulting `docker-compose.yml` **after** running `./parity-deploy.sh --config aura --name myaura --nodes 4`

A new [CLI switch](https://github.com/paritytech/parity-deploy#cli-usage-options) could be useful, like

[code]

[2018-09-04 08:50] drandreaskrueger commented on #55
workaround for now:  I have added those parameters [in all 4 files here](https://github.com/paritytech/parity-deploy/tree/master/config/docker).

So, feature request not indispensable, but ... nice-to-have.

[2018-09-04 10:33] drandreaskrueger commented on #55
plus, one more file has to be changed, to almost never hit the gasLimit:

`parity-deploy/spec/genesis/aura`

to 40 million:
[code]

[2018-09-04 12:20] drandreaskrueger opened #56 "tendermint?"
Cleaning up:
[code]

Is this the right way to create a tendermint network?
[code]

but ^ results in this error:
[code]

[2018-09-04 12:25] drandreaskrueger commented on #56
ah, but it needs it again, there:

[code]

[2018-09-04 12:28] ddorgan commented on #56
@drandreaskrueger yes the tendermind template wasn't updated in quite some time. Let me do that now...

[2018-09-04 12:33] drandreaskrueger commented on #56
Ah, thanks a lot!

[2018-09-04 12:33] ddorgan commented on #56
https://github.com/paritytech/parity-deploy/pull/57

[2018-09-04 12:33] #56 closed

[2018-09-04 12:34] ddorgan commented on #55
@drandreaskrueger can you just try adding all the extra options at the end of the parity-deploy.sh command ...

e.g.

[code]

I should maybe make this more clear in the README.

[2018-09-04 12:34] drandreaskrueger commented on #56
Please reopen, there is another issue with tendermint:

Deployment (of the [supersimple smart contract](https://gitlab.com/electronDLT/chainhammer/blob/master/contract.sol)) does work:
[code]
but transacting on it then not:
[code]

on the docker log side, it shows this:

[code]

[2018-09-04 12:38] ddorgan commented on #56
See: https://github.com/paritytech/parity-ethereum/issues/8664

Tendermint isn't being actively developed and will most likely be replaced with substrate.

[2018-09-04 12:53] drandreaskrueger opened #58 "instantseal password empty"
thorough cleaning:
[code]

there is a password created:
[code]
results in
[code]

but then something's wrong:
[code]

found it out like this

[code]

instead of "`s4LKh0oCw4jH1g1n`", the password is ""

[2018-09-04 12:54] drandreaskrueger commented on #55
ah, cool. Thanks.

[2018-09-04 12:56] drandreaskrueger commented on #56
perhaps mention that in README.md and in the /config/specs folders ?

[2018-09-04 13:18] drandreaskrueger commented on #58
also

[code]

but then the chain is instead called `developmentchain`:

[code]
see https://gitlab.com/electronDLT/chainhammer/blob/master/parity.md#run-8-instantseal

[2018-09-10 16:11] drandreaskrueger opened #59 "millisecondTimestamp ?"
How to configure [this](https://github.com/paritytech/parity-ethereum/issues/9468#issuecomment-419955626)?

I have tried to turn https://github.com/paritytech/parity-deploy/blob/master/config/spec/engine/instantseal into

[code]
and then do

[code]

but the time resolution is still whole seconds.

[2018-09-10 16:13] drandreaskrueger commented on #59
Parity/v1.11.10-stable-31720e6-20180830

[2018-09-11 09:38] drandreaskrueger opened #60 "make config pieces JSON compliant / (FR) allow to change spec parameters"
I cannot get past this:

[code]

and I suppose that is because the file looks like this:

[code]

and not like this

[code]

Could you perhaps in a future version make the separate config pieces JSON compliant? Then parameters are easier to change:

[code]

---

And/or:

(How) can I change the genesis parameter on the commandline

[code]

perhaps like this?

[code]

[2018-09-11 09:38] drandreaskrueger commented on #60
Thx!

Great tool.

[2018-09-11 09:40] drandreaskrueger commented on #60
My workaround for now:

[code]
though not elegant nor universal

[2018-09-11 10:46] drandreaskrueger commented on #55
and the `gasLimit`? See https://github.com/paritytech/parity-deploy/issues/60

[2018-09-11 10:48] ordian commented on #59
@drandreaskrueger this feature was [merged](https://github.com/paritytech/parity-ethereum/pull/9469) only 5 days ago, hence it's not in stable yet. Usually we backport only fixes, so you have to you use master branch if you want this feature enabled now.

[2018-09-11 10:49] drandreaskrueger commented on #59
ah, gotcha - thanks.

[2018-09-11 11:15] #59 closed

[2018-09-11 13:38] drandreaskrueger opened #61 "(FR) fix a certain version"
this morning, using parity-deploy resulted in

now today after lunch, suddenly that switched to

not good:

* stuff just changes which [then breaks other stuff](https://gitlab.com/electronDLT/chainhammer/commit/39c49cf3adbb8c1811b227ebda078d6f87af3e40).
* suddenly `stable` is switched for `beta` (sic!)
* results of e.g. benchmarking are not replicable anymore.

--> **Feature Request**: Allow parit

[2018-09-11 13:45] ddorgan commented on #61
There were no changes made to the docker images today or parity-deploy. You didn't change something in your setup?

[2018-09-11 13:46] ddorgan commented on #55
Issue resolved. Won't be updating the gasLimit.

[2018-09-11 13:48] drandreaskrueger commented on #61
nope. I used the exact same setup as this morning.

[2018-09-11 13:54] drandreaskrueger commented on #61
and that v2.0.4-beta is somehow faulty by the way.

I submitted 20000 transactions, as usual, but (while `v1.11.11-stable` processed all of them...) this new client
`v2.0.4-beta`  processes only ~7000 transactions, and then ignores the rest, and falls down to 128 seconds blocktimes:

[code]

You can try it yourself, and easily, with my new Amazon AWS image:

https://gitlab.com/electronDLT/chainham

[2018-09-11 14:35] drandreaskrueger commented on #55
I see. What a pity.

Then please consider this route to the same effect: https://github.com/paritytech/parity-deploy/issues/60

Thanks.

[2018-09-11 14:48] ddorgan commented on #55
Let me have a look at updating the gasLimit, I'll include with the key generation changes.

[2018-09-11 15:03] drandreaskrueger commented on #61
docker hub f***up ?

on that mentioned AWS machine:
[code]

`docker run parity/parity:stable` but out comes `v2.0.4-beta`

[2018-09-11 15:04] drandreaskrueger commented on #61
suggestion:

[code]

[2018-09-11 18:11] ddorgan commented on #55
@drandreaskrueger you can also add --gas-floor-target xxxxx at the end of the command line arguments for this by the way.

[2018-09-11 18:14] ddorgan commented on #60
They're intended to be either 1) templated or 2) using a command line option that already exists in the parity cli since they can be added to the end of the command.

[2018-09-11 18:14] ddorgan commented on #55
https://github.com/paritytech/parity-deploy/commit/0937ea2e221e31e7efc70f1e100afa038fe37d1e

[2018-09-11 18:14] #55 closed

[2018-09-12 14:13] jarenal opened #63 "ethkey not found"
Hi there,

I got the next error...

`./config/utils/keygen.sh: 5: ./config/utils/keygen.sh: ethkey: not found`

...when I execute the next command:

`./parity-deploy.sh --config aura --nodes 3 --ethstats`

I fulfill all the requirements:

1.  OpenSSL 1.0.2g  1 Mar 2016
2.  pip 18.0
3.  Docker version 18.06.1-ce, build e68fc7a
4.  docker-compose version 1.22.0, build f46880fe

I'm using Ubunt 16.04

[2018-09-12 15:01] ddorgan commented on #63
Created PR: https://github.com/paritytech/parity-deploy/issues/63

Please check with the latest master.

[2018-09-12 15:13] jarenal commented on #63
Works like a charm!

Thanks for your quick response.

PS: Please update requirements in the README file.

[2018-09-12 15:17] ddorgan commented on #63
https://github.com/paritytech/parity-deploy/commit/37b16b86d7638a45e6c788ea4a64bd2c4d1be8de

[2018-09-12 15:17] #63 closed

[2018-09-12 15:17] ddorgan commented on #63
Updated README...

[2018-09-12 15:58] jarenal opened #66 "Ethstats Dashboard throws continuously the message "Connection with: XXXX ended: undefined""
Hi there,

I've setup my private network using:

`./parity-deploy.sh --config aura --nodes 3 --ethstats`

Everything looks ok, but if I check the logs with the next command:

`docker-compose logs -f`

I can see that Ethstats Dashboard throws continously the message:

"Connection with: XXXX ended: undefined"

Where XXXX is a random token.

Apart of this, I can see at Ethstats Dashboard that the hos

[2018-09-12 20:33] jaybutera opened #67 "keygen script forces linux architecture"
Should be a simple fix but the script to install _ethkey_ in _./config/utils/keygen.sh_, installs the linux binary only.
[code]

Should have an option to specify the different architectures and os types on the [server](https://vanity-service.parity.io/parity-binaries).

[2018-09-13 13:27] drandreaskrueger commented on #61
Yes, can try. Tuesday.  Or you [take my AMI, and update it yourself](https://github.com/paritytech/parity-ethereum/issues/9393#issuecomment-421004356) to your newest code.

But that v2.0.4-beta is somehow faulty, see [this](https://github.com/paritytech/parity-deploy/issues/61#issuecomment-420282653) - the experiment breaks after not even half of the transactions have gone through.

[2018-09-13 13:48] ddorgan commented on #67
We only support linux, although yes I should detect architecture and use that. I'll open a PR for this.

[2018-09-13 13:57] ddorgan commented on #67
https://github.com/paritytech/parity-deploy/pull/69

[2018-09-13 13:57] #67 closed

[2018-09-17 14:11] ddorgan commented on #66
@jarenal can you paste your dashboard configuration please...

[2018-09-17 14:11] ddorgan commented on #58
@drandreaskrueger Yes with the --dev chain the account password will be blank ... this is expected.

[2018-09-18 08:11] drandreaskrueger commented on #58
then better don't generate an invalid password, no?

[2018-09-18 08:45] drandreaskrueger commented on #55
hahaha, just seen, you simply [hardcoded 40 million now](https://github.com/paritytech/parity-deploy/commit/0937ea2e221e31e7efc70f1e100afa038fe37d1e#diff-f9890051b43f4ba212ec89cfda942988).

That is not what I meant. For for my one situation here, it is actually helpful, thanks.

[2018-09-18 08:51] drandreaskrueger opened #70 "deployment/chain/spec.json: Is a directory"
[code]
results in:
[code]

what helped was:

[code]
then

[code]

came back without an error

[2018-09-18 11:27] drandreaskrueger commented on #61
I have made an issue about the faulty docker parity:stable v2.0.5

https://github.com/paritytech/parity-ethereum/issues/9582

[2018-09-18 15:08] drandreaskrueger opened #71 "ethkey: error while loading shared libraries: libboost_filesystem.so.1.55.0: cannot open shared object file: No such file or directory"
[code]
today results in
[code]

System is up-to-date Debian stretch.

[2018-09-18 16:02] ddorgan commented on #71
@drandreaskrueger mind sending the output of which ethkey ... is it downloading one or using one you built in? If it doesn't find ethkey in the path it will try and use the latest stable.

[2018-09-18 16:03] ddorgan commented on #70
@drandreaskrueger yes it looked like you needed to clean your config. Had you run ./parity-deploy.sh with different options twice?

[2018-09-19 09:32] drandreaskrueger commented on #70
I usually started with
[code]
before
[code]

And the above problem does not always appear.

Yes, perhaps. Is that explicitly forbidden?

[2018-09-19 09:43] drandreaskrueger commented on #71
[code]

[code]

Ah, so it's my local installation of `ethkey`. Yes, that can be very outdated. It must have gotten installed by another tool, because I don't remember installing it.

This problem is similar to [this one](https://github.com/paritytech/parity-deploy/issues/51#issuecomment-416987416).

As you are so focused on docker with this super useful tool `parity-deploy` - why not try to avoid

[2018-09-19 09:44] drandreaskrueger commented on #71
where?

outdated: https://github.com/paritytech/ethkey

link within: broken

[2018-09-19 10:33] drandreaskrueger commented on #60
Have a look at this: https://gitlab.com/electronDLT/chainhammer/blob/master/parity.md#run-13

To change the blocktime on the fly, I am using jq to directly manipulate the spec.json AFTER having called `./parity-deploy.sh ...`

[code]

That case would fall under "1) templated" - right?

[2018-09-19 10:47] drandreaskrueger commented on #71
ah:

[code]
now it runs through.

see above - and please write your script in a way that it does not use anything in my local installation. Thanks.

[2018-09-19 13:31] drandreaskrueger commented on #70
Good.

Then I suggest you either mention in your [README.md](https://github.com/paritytech/parity-deploy/blob/master/README.md) that `./clean.sh` is obligatory, or -better- prevent the above from happening, by e.g. always calling `./clean.sh` from `parity-deploy.sh` ?

Thanks.

[2018-09-19 13:32] drandreaskrueger commented on #71
Perfect, thanks.

[2018-09-20 22:00] jarenal commented on #66
Hi @ddorgan Dashboard configuration is the default when you use the next command:

`./parity-deploy.sh --config aura --nodes 3 --ethstats`

[2018-10-16 05:00] jwasinger commented on #52
Hi @ddorgan , I am seeing this error on current master branch.

[2018-10-16 05:03] jwasinger opened #74 "Examples are broken"
Tried this:
[code]

Saw this:
[code]

[2018-10-16 05:28] jwasinger commented on #74
Whoops.  This was a permissions issue on my part...

[2018-10-16 05:28] #74 closed

[2018-10-16 06:21] jwasinger opened #75 "Error upgrading parity data: CannotCreateConfigPath"
Here's what I did:
[code]

Here's what I see:
[code]

I'm running everything as root user on a VM.

[2018-10-16 07:04] jwasinger commented on #75
Here's how I got around this:

- Start up `docker-compose up`, get error
- Do a dirty hack to make the mounted volumes writeable from within the client containers `chmod a+rwx -R deployment/ data`

Another detail:
I'm running these containers on a Virtualbox VM hosted on a windows 10 host.

What environment is parity deploy known to work in without these volume permission errors?

[2018-10-17 12:10] ddorgan commented on #75
@jwasinger I normally run them on VM's directly and don't see these issues. Is your user a member of the docker group? e.g. can you run ```docker run myimage``` without sudo?

[2018-10-18 09:08] bilonic commented on #75
This error happens on parity v2.0.7 and later.
With parity v2.0.6 and lower works fine.

[2018-10-18 11:57] ddorgan commented on #75
@bilonic thanks for that, let me check this.

[2018-10-19 15:11] branciard commented on #75
It is linked to this change in the last release :
"Docker: run parity as normal user"
 https://github.com/paritytech/parity-ethereum/pull/9689

When volumes are mount like this
   - ./data/1:/parity/data

This will be created as root and parity user cannot write/access it.

The solution proposed in  https://github.com/paritytech/parity-ethereum/pull/9689   is to create

`RUN mkdir -p /home/parity/

[2018-10-20 23:30] drandreaskrueger opened #76 "Error upgrading parity data: CannotCreateConfigPath"
[code]

results in
[code]

[2018-10-20 23:40] drandreaskrueger commented on #76
this solves it for me

[code]

[2018-10-21 17:44] ddorgan commented on #75
@branciard please checkout the latest master and try again. Merged a pull request: https://github.com/paritytech/parity-deploy/pull/77 to fix.

[2018-10-21 17:44] ddorgan commented on #76
@drandreaskrueger can you please re-try with the latest master. See: https://github.com/paritytech/parity-deploy/pull/77

[2018-10-21 17:58] ddorgan commented on #76
@drandreaskrueger yes older versions of the docker image ran as root rather than the parity user. The PR merged fixes some permission issues due to this change.

[2018-10-21 19:12] drandreaskrueger commented on #76
yes - but perhaps not before November.
I am traveling, web3summit & devcon. Greetings from Berlin.

Actually, are you in Berlin? Then we should meet in person!

[2018-10-21 22:00] ddorgan commented on #61
Late reply sorry. You can use the -r (release) flag to use any version you want. e.g in this case:

[code]

[2018-10-21 22:00] #61 closed

[2018-10-21 22:03] ddorgan commented on #60
You can also use the custom_chain.toml which is a chain spec and node config within one file. There's example in the customchain directory.

For any additional arguments just add it to the end of the ```./parity-deploy.sh``` command and it will be used on all containers.

[2018-10-21 22:03] #60 closed

[2018-10-22 22:08] drandreaskrueger commented on #76
yesyesyes.
Already met Afri yesterday. Perhaps he can point me out to you.
Or look at my twitter avatar, to recognize me. Specifically changed it for this purpose tonight ;-)

[2018-10-22 22:17] drandreaskrueger commented on #60
ah, nice one. I had overlooked that until now. Might try. But my tweaking of `deployment/chain/spec.json` *after* running parity-deploy.sh ... does the trick actually. I only just want to change small pieces, like `   "gasLimit": "20000000"`

[2018-10-22 22:18] drandreaskrueger commented on #61
hooray, that is *exactly* what I meant.

Thanks.

[2018-10-23 12:31] ddorgan commented on #61
Great to hear!

[2018-10-25 15:50] ddorgan commented on #75
@branciard any update on this...Or will I just close the issue?

[2018-10-25 16:39] branciard commented on #75
Yes perfect @ddorgan. I just test and it is ok with the parity user added to docker-compose and new folders targeted. Thanks !

[2018-10-25 16:50] ddorgan commented on #75
Great thanks for the reply.

[2018-10-25 16:50] #75 closed

[2018-10-25 16:50] ddorgan commented on #76
Can I close this one?

[2018-10-26 20:11] jwasinger commented on #76
I'm still seeing this issue: `./parity-deploy.sh --config dev`

[2018-10-26 20:32] jwasinger opened #79 "Ethstats option is broken"
`./parity-deploy.sh --config aura --nodes 3 --ethstats` creates a malformed docker-compose file.

[2018-10-28 17:04] drandreaskrueger commented on #76
David, we also saw this last Thursday. You had a very quick fix for it though.

[2018-10-31 14:06] ilhanu commented on #76
Is there some sort of a quick-fix for this?

[2018-10-31 15:14] ddorgan commented on #76
@ilhanu sure, basically do a chown -R on the data dir to the user you're running docker as.

In parity-deploy if you create a new data dir (e.g. after a clean.sh) it will now mkdir the data dirs before starting the container the first time. This works around the permissions issue inside the container.

[2018-11-01 08:05] armanfatahi commented on #75
This was because of lack of permissions on the volumes. Just notice that the volume might have been created using root user.

host1    | Error upgrading parity data: CannotCreateConfigPath

[2018-11-01 14:09] ddorgan commented on #75
@armanfatahi yip, fixed in the latest master (when creating from scratch) or do a one time chown for existing setups.

[2018-11-01 14:19] ddorgan commented on #76
Closing issue.

[2018-11-01 14:19] #76 closed

[2018-11-07 15:23] ddorgan commented on #66
@jarenal can you check with the latest master please?

[2018-11-08 09:46] zulhfreelancer opened #83 "Error: NO custom parity build set, downloading stable"
Hi,

I got the following error after running `./parity-deploy.sh --config dev` command:

[code]

How do I fix this?

Thanks.

[2018-11-14 02:25] jiangfuyao opened #84 "ERROR: Encountered errors while bringing up the project."
`./parity-deploy.sh --config aura`

[code]

[2018-11-14 17:44] ddorgan commented on #84
@jiangfuyao thanks for the report. Which distro (and version) are you using? I've not seen anything like this before...

[2018-11-14 17:44] ddorgan commented on #83
Are you using mac os ?

[2018-11-15 02:51] jiangfuyao commented on #84
`Parity-Ethereum/v2.0.4-beta-e2e1d22-20180910/x86_64-linux-gnu/rustc1.28.0`,
`parity-deploy is the last version.`

[2018-11-15 06:00] ddorgan commented on #84
@jiangfuyao was wondering which operating system and specific version you are using. Thanks

[2018-11-15 06:52] jiangfuyao commented on #84
deepin linux 15.7 Desktop.

[2018-11-15 10:00] ddorgan commented on #83
@zulhfreelancer can you try the code from this PR: https://github.com/paritytech/parity-deploy/pull/73

[2018-12-03 17:31] drandreaskrueger opened #85 "Invalid argument: generate"
Situation:
[code]

Problem:
[code]

no problem:
[code]

local parity:
[code]

[2018-12-03 17:41] drandreaskrueger commented on #85
actually the last good one is a76a2f1b7173ff5d138e0cb66efdb939bfe33aab

problem appears 5f3ed94c6a5ff0335bc5b58249c73ce1357d3d94

hope that helps

[2018-12-03 18:00] drandreaskrueger commented on #61
Actually, even with the switch `-r v1.11.11`, I still have to manually edit the generated `.yml` file, otherwise `docker-compose up` uses the `stable` version:

[code]

This way, all is cool:

[code]
then I edit the output:
[code]
and it starts up "Parity/v1.11.11-..."

P.S.: For both attempts I am using `git checkout a76a2f1b7173ff5d138e0cb66efdb939bfe33aab` because of this issue https://github.c

[2018-12-03 18:01] drandreaskrueger commented on #61
^ @ddorgan how are you?

[2018-12-03 18:38] drandreaskrueger opened #86 "(FR) give account balance to default account"
The default account has no money:

[code]

I see that via `spec.json` you have given money to one account:
[code]
it is just not available on the http://localhost:8545 default node address.

Could you make your script give some money to that account?

---
P.S.: I started like this
[code]

[2018-12-04 13:03] drandreaskrueger commented on #86
it happened now because previously I had always used

    --gasprice 0

so no balance did not matter.

But now, in my tests, I am sending money, just to create transactions, i.e. blocks, in an uncomplicated way. And for that I actually want non-zero balances.

And in general, I think it's a good idea, to drop some ETH on the default account of :8545.
Makes the whole tool more useful.

[2018-12-04 14:17] drandreaskrueger commented on #86
My workaround now is sending money, but `{'value': 0}`

https://github.com/drandreaskrueger/chainhammer/blob/master/tests/test_tps.py#L68-L71

[2018-12-04 14:55] drandreaskrueger opened #87 "(v2.2.3) Spec json is invalid: unknown field `gasLimitBoundDivisor`"
@5chdn [asked to try version v2.2.3](https://github.com/paritytech/parity-ethereum/issues/9582#issuecomment-443661666):

but besides https://github.com/paritytech/parity-deploy/issues/85 it looks as if v2 needs a different `spec.json` ?

### reproduce this

[code]

[code]

[2018-12-04 15:08] drandreaskrueger commented on #85
Hah, solution:

    which ethkey
    sudo mv /usr/local/bin/ethkey /usr/local/bin/ethkey_MOVED

Found it because your README says

now look at this:

[code]

and now I can see another one:

    which ethkey
    /usr/bin/ethkey
    /usr/bin/ethkey | head -n 4
    Ethereum keys generator.
      Copyright 2016, 2017 Parity Technologies (UK) Ltd

are there two different tools, both called `ethkey` ?
T

[2018-12-04 19:49] 5chdn commented on #87
yeah we don't accept invalid specs anymore

[2018-12-05 09:32] drandreaskrueger commented on #87
That might make maintaining paritytech/parity-deploy a bit more difficult. Because then there might need to be a whole set of spec.json files, depending on the version that a user is requesting. And to allow backwards compatibility is a real advantage of this amazing tool here, we have seen that in several cases. Until all glitches are solved, I must still run chainhammer on parity v1.11.11, for e

[2018-12-05 10:06] 5chdn commented on #87
backwards compatibility is given if you use a valid spec anyways. note v1.11.11 is not supported anymore. all we need to do here is to fix the spec.

[2018-12-05 11:57] drandreaskrueger commented on #87
I herewith submit my formal protest against this ;-)

v1.11.11 is the last version that was still working fine when querying singlethreaded AND multithreaded.
See e.g. https://github.com/paritytech/parity-ethereum/issues/9582#issuecomment-427144992

[2018-12-05 11:58] drandreaskrueger commented on #87
yes, then I can run a test on v2.2.3

[2018-12-05 12:06] drandreaskrueger commented on #87
Also, wouldn't you want to know how much faster v2.2.3 is versus v1.11.11 ??

If you put an end-of-live to parity-deploy-for-v1.11.11 now, then it becomes much harder to finding out the difference (I would then have to work with an outdated September or October commit of parity-deploy, which was since then possibly improved or even de-bug-ed, etc)

[2018-12-12 19:52] ddorgan commented on #83
Closing due to inactivity. Please re-open if still an issue.

[2018-12-12 19:52] #83 closed

[2018-12-12 20:24] ddorgan commented on #87
@drandreaskrueger can you check the latest master...

[2018-12-12 20:32] ddorgan commented on #85
@drandreaskrueger addressed with: https://github.com/paritytech/parity-deploy/pull/90

[2018-12-12 20:35] ddorgan commented on #84
@jiangfuyao can you double check you're using an up to date docker parity/parity:stable image for this. An issue which seems related was fixed some time back.

[2018-12-12 20:36] ddorgan commented on #66
Closing due to inactivity.

[2018-12-12 20:36] #66 closed

[2018-12-12 21:30] ddorgan commented on #85
Related: https://github.com/paritytech/parity-deploy/pull/91 - I thought maybe using the user installed copy would be a good idea but this is most consistent.

[2018-12-17 18:48] drandreaskrueger commented on #87
I will as soon as I can. Sorry for the delay.

[2018-12-22 19:51] #85 closed

[2019-01-02 20:45] drandreaskrueger commented on #76
sudo chown $USER:$USER -R data

?

Couldn't you simply make this part of ./clean.sh somehow ?

[2019-01-02 20:55] drandreaskrueger commented on #76
Happy New Year :-)

[2019-01-15 11:21] drandreaskrueger opened #92 "unable to find user parity: no matching entries in passwd file"
found a new one:

[code]
[code]

[code]
[code]

[2019-01-15 11:22] drandreaskrueger commented on #92
quick'n'dirty fix:

    sed -i 's/user:\ parity/user:\ root/g' docker-compose.yml

[2019-01-18 18:04] drandreaskrueger commented on #87
I have just tried it out:

[code]

[code]

[code]

Please consider to do the second last step in parity-deploy.sh - otherwise with every version upgrade we run into danger of new problems.

Actually, now I get the other problem:

[code]

but then after opening up data completely:

[code]

it first fails:
[code]

but then after doing that once more, and restarting once more ...

[code]

it finally

[2019-01-18 18:06] drandreaskrueger commented on #76
Reappeared. See here https://github.com/paritytech/parity-deploy/issues/87#issuecomment-455635522

Please try to invent a solution which does not need machine specific user interaction, otherwise it is hard to include parity-deploy.sh in other tools.

[2019-01-18 18:10] drandreaskrueger commented on #76
Just tried that, but ... nope:

[code]

ends with

[code]

[2019-01-18 18:14] drandreaskrueger commented on #76
only when I do this, it works:

[code]

but that means accepting that it fails once, and I do not know if it causes other problems later.

[2019-01-18 18:14] drandreaskrueger commented on #76
@ddorgan ?

[2019-01-22 15:07] ddorgan commented on #76
Can you please the branch in here: https://github.com/paritytech/parity-deploy/pull/94

[2019-01-22 15:12] ddorgan commented on #92
@drandreaskrueger version v.11.11 is actually before we introduced the parity user to the containers and we do not backport these changes to existing versions in case it breaks something. Also parity v1.x is no longer supported.

However I know you're using this version due to the performance you see there vs later versions.

But on a point of the testing, would I be right in saying you pre-sign g

[2019-01-22 15:13] ddorgan commented on #92
Closing this as we won't be updating the v1.11.11 image, however please feel free to open another issue for any outstanding questions on this.

[2019-01-22 15:13] #92 closed

[2019-01-22 15:15] ddorgan commented on #87
@drandreaskrueger is this all ok with the latest master? I know there was an issue with instant sealing but with aura this should be working fine.

[2019-01-22 15:29] ddorgan opened #95 "ethkey download not working on arch linux"

[2019-01-22 15:35] ddorgan commented on #95
https://github.com/paritytech/parity-deploy/pull/96

[2019-01-22 15:45] ddorgan commented on #95
Fixed with: https://github.com/paritytech/parity-deploy/pull/96

[2019-01-22 15:45] #95 closed

[2019-01-22 16:07] drandreaskrueger commented on #87
I have tried the above with  git checkout 11b64e11cc9403101aa1e0db0bfbc72997e01a74 that is the newest, right?

And the only way I could get it working was accepting that it fails once:

[code]

see above.

[2019-01-22 16:16] drandreaskrueger commented on #92
Hello @ddorgan

First the misunderstanding:

No, I don't.
Where does this misunderstanding come from?

I am either using [this call](https://github.com/drandreaskrueger/chainhammer/blob/223fda085aad53c1cbf4c46c336ad04c2348da82/hammer/send.py#L69) or I am using [this call](https://github.com/drandreaskrueger/chainhammer/blob/223fda085aad53c1cbf4c46c336ad04c2348da82/hammer/send.py#L154).

But neithe

[2019-01-22 16:23] drandreaskrueger commented on #92
But:

Then I must introduce an artificial  difference between parity and geth:

* geth can handle multi-threaded RPC calls very well, and thus I am not sending the the transactions sequentially, but with a multi-threading queue with ~20 workers. Much acceleration, of course.
* parity v2.x.y only works when I shoot transaction by transaction sequentially, i.e. it can handle 1 incoming thread. As so

[2019-01-22 16:34] drandreaskrueger commented on #92
@ddorgan (even with this #92 closed now) are my above 2 comments of today covered sufficiently, or do I have to open yet another issue?

[2019-01-22 16:37] drandreaskrueger commented on #76
you merged that to master now, right?

[2019-01-22 16:39] ddorgan commented on #92
@drandreaskrueger no that's fine. I'll send you a follow up later today with some findings...

[2019-01-22 16:43] drandreaskrueger commented on #76
Tried it out, just now:

[code]

yes it works. Well done.

So I do not need to manually create

    mkdir data

anymore?

[2019-01-22 16:49] drandreaskrueger commented on #76
and the following includes patches for v1.11.11:

[code]

and ... it also works.

Cool, thanks a lot. Well done.

[2019-01-22 16:51] drandreaskrueger commented on #76
Now @ddorgan  this issue can be closed lol.

[2019-01-22 16:58] drandreaskrueger opened #97 "small improvement: compare parity versions before downloading binary"
reproduce like this:
[code]

results in:

[code]

--> suggestion: Do not download if version is already wanted version. Then it would look like this:

[code]

[2019-01-22 17:04] drandreaskrueger commented on #76
Why not store the above, and these blocks here for future testing purposes, when you improve this great tool:

[code]

[code]

[2019-01-23 01:13] ddorgan commented on #87
Hi Andreas,

         Yes there's a permission issue here. On your docker containers everything runs as root so you do not bump into these issues. The base parity/parity images now set the user to parity with a uid of 1000.

 To avoid the CannotCreateConfigPath error can you try  https://github.com/paritytech/parity-deploy/tree/dd-uid-set, which sets the uid on the data and deployments directory.

[2019-01-23 01:20] ddorgan commented on #86
There is a built in balance on aura accounts...

Key:
[code]

[2019-01-23 01:20] #86 closed

[2019-01-23 12:36] drandreaskrueger commented on #86
@ddorgan Thanks.

Could you please make that address 00ea169ce7e0992960d3bde6f5d539c955316432 the default account on the first node :8545 ?

eth.accounts[0]

then

eth.getBalance(eth.accounts[0]) > 0

would be useful for almost everyone who is using parity-deploy.

[2019-01-23 12:39] drandreaskrueger commented on #92
simple patch for

v1.11.11 instantseal
https://github.com/paritytech/parity-deploy/issues/76#issuecomment-456473262

v1.11.11 aura
https://github.com/paritytech/parity-deploy/issues/76#issuecomment-456479049

[2019-01-23 12:47] drandreaskrueger commented on #87
Thx.

When I tried yesterday with 1a6afd17ac75bdf6c9e9fefa1d3af13748dd9cfa I did not run into permission problems anymore.

So I thought you had merged that?

See
https://github.com/paritytech/parity-deploy/issues/76#issuecomment-456470885
and
https://github.com/paritytech/parity-deploy/issues/76#issuecomment-456479049

So I think *that* is solved with 1a6afd17ac75bdf6c9e9fefa1d3af13748dd9cfa now?

[2019-01-23 12:50] drandreaskrueger commented on #87
What about creating docker data containers instead of storing directly on host disk?
Then you can choose any uid, no?

Isn't the problem the confusion between inside-docker-container-uid and hostmachine-uid?

[2019-01-23 13:45] drandreaskrueger commented on #86
@ddorgan just look at the other ones:

### TestRPC

node version string =  TestRPC/1.3.5/linux/python3.5.3
first account of node is 0x82A978B3f5962A5b0957d9ee9eEf472EE55B42F1,
balance is 1025005 Ether

### geth-dev

node version string =  Geth/v1.8.14-stable-316fc7ec/linux-amd64/go1.10.3
first account of node is 0x8Cc5A1a0802DB41DB826C2FcB72423744338DcB0,
balance is 9046256971665327767466483203803

[2019-01-24 14:59] stanislaw-raczynski-dac opened #98 "How to access the built-in account"
The readme states:

But there is UI. Port 8180 is exposed:

[code]
But:
[code]

Isn't UI moved to Parity UI? The documentation may need to be updated or expanded.

With UI or not, *my question is how do I unlock the built-in account* 0x00Ea169ce7e0992960D3BdE6F5D539C955316432 ?

I could not locate its private key or password anywhere.

This is related to #86

I use parity-deploy with a command:
[c

[2019-01-24 15:11] ddorgan commented on #98
This is the key, will update the README and insert it into the hosts.

[code]

Yes there is no UI anymore, so you'll need to connect to via rpc and websockets and send a transaction via the rpc methods that way. Let me make a pull request later today and I'll get back to you on this.

[2019-01-25 17:12] ddorgan commented on #87
Will change how this works. I had wanted to avoid using docker volumes but it looks like it is required.

Note that just adding volumes to a path and driver_opts uid=1000,gid=1000 has problems in a lot of cases so I'll test some better ways. Hopefully something that also plays nice with kubernetes.

[2019-01-25 18:08] drandreaskrueger commented on #87
Good, thanks. Yes perhaps that is the only way? Or perhaps check these interesting pages before?

[1](https://jtreminio.com/blog/running-docker-containers-as-current-host-user/), [2](https://docs.docker.com/engine/security/userns-remap/),
or perhaps this trick: `CURRENT_UID=$(id -u):$(id -g) docker-compose up` in [3](https://medium.com/redbubble/running-a-docker-container-as-a-non-root-user-7d2e00

[2019-01-26 12:08] stanislaw-raczynski-dac commented on #98
Thanks for quick and helpful answer. I re-paste the key you posted above:
[code]

[2019-01-29 16:26] deanstef opened #99 "Inconsistent nomenclature of chain spec"
I have studied the script and it looks amazing. However I have doubt regarding the configuration.

When the [authority.toml](https://github.com/paritytech/parity-deploy/blob/master/config/spec/authority_round.toml) file is generated, it specifies a chain = "/home/parity/chain.json". However, when the chain config is generated by the script, it is saved as spec.json (see [here](https://github.com/p

[2019-02-01 17:38] ddorgan commented on #98
Account now added automatically: https://github.com/paritytech/parity-deploy/pull/101

[2019-02-01 17:38] #98 closed

[2019-02-01 18:22] drandreaskrueger commented on #87
sorry to hear that.

yes, complexity is a bitch ;-)

When I have my next release out, I can show you how I solved it for now. A few more days.

fine with closing this issue, it was about the specs version jump v1 --> v2 anyways, and not this.

[2019-02-01 21:09] ddorgan commented on #86
@drandreaskrueger btw with the latest master you should now have a balance in the account:

[code]

[2019-02-19 18:35] drandreaskrueger commented on #61
IMHO and for consistency, your `-r v2.2.3` switch should not only download that parity binary, but also and foremost always do this: `sed -i 's/parity:stable/parity:v2.2.3/g' docker-compose.yml`

[2019-02-20 11:46] tomusdrw opened #102 "Cannot run a fresh install"
[code]
and then `parity-download.sh` exists.

Attempting to install 2.3.3.

[2019-02-20 20:19] ddorgan commented on #102
@tomusdrw can you please re-try with the latest master.

[2019-02-20 20:21] ddorgan commented on #99
@deanstef this was messing around to create the keys with the spec file. I have now removed this and am using ethstore and ethkey for all key activities.

Using the second spec file was removed: https://github.com/paritytech/parity-deploy/pull/104/files#diff-1b89a01090b9aa873cb0d3e5abb4a347L58 - Ok to close the issue?

[2019-02-20 20:22] ddorgan commented on #97
Now using ethkey / ethstore instead of the parity binary. And the release is just passed in as the docker image to use.

[2019-02-20 20:24] ddorgan commented on #61
@drandreaskrueger yip, there was an issue were some docker images were being created inconsistently but this is resolved. Also I've just used ethstore/ethkey for key generation now and just use the release version for docker.

This is the latest master.

[2019-02-21 14:24] drandreaskrueger commented on #61
I hear you. Breaking changes are tough to navigate around.

Careful however when you change the docker images, because other users might already depend on their current setup ?

Actually, I had to introduce small version dependent things now in my code, see e.g. here: https://github.com/drandreaskrueger/chainhammer/blob/04ca0b6b084ea9409f6468c7e5cb86f90eaf5b97/networks/parity-configure.sh#L56 ...

[2019-02-21 14:26] drandreaskrueger commented on #97
oh, so no more local parity download at all?

[2019-02-21 14:28] ddorgan commented on #61
@drandreaskrueger I thought a bit about this yesterday and also think it's a bad idea to go updating old images. So I added an option ```--entrypoint``` which at least makes it a lot easier to deal with older or custom images.

[2019-03-07 19:57] computerpoet opened #107 "cat: config/spec/genesis/validatorset: No such file or directory"
Hi everyone, i am aiming to create a private PoA chain with only one validator (and that's it, no other node for now).

I used this command but somehow the genesis validatorset file does not exist
./parity-deploy.sh --config validatorset --name project1 --nodes 1 --expose
Result :
cat: config/spec/genesis/validatorset: No such file or directory

I can not see it in the repo, is the validatorset co

[2019-03-12 16:36] computerpoet commented on #74
@jwasinger Can you describe a bit more about the permission issue you had ? I seem to have the same issue.

[2019-03-12 17:14] ddorgan commented on #99
Closing....

[2019-03-12 17:14] #99 closed

[2019-03-12 17:15] ddorgan commented on #102
Resolved in latest master.

[2019-03-12 17:15] #102 closed

[2019-03-14 10:46] benjaminfontaine opened #108 "Using the deploy tool on Windows"
Hi everyone,
Thanks for this great tool.
I'm facing some issues using it on Windows.
I managed to launch the script using an ubuntu docker image.
`./parity-deploy.sh --config aura`

But when I'm launching the container with docker-compose up -d
this error is showing in the logs and the container won't start :

_host1        | Failed to open database Custom { kind: Other, error: StringError("IO err

[2019-03-19 16:13] #107 closed, assigned to nobody

[2019-03-20 06:10] ddorgan commented on #108
@benjaminfontaine I didn't think it would even work for far to be honest! Let me get a windows VM and give this a test....

[2019-04-07 14:37] daithi-coombes commented on #75
Issue still persists on `stable` and `nightly`. I had to change the user to `root` to get it working

[code]

[2019-04-23 10:32] ddorgan commented on #84
Closing...

[2019-04-23 10:32] #84 closed

[2019-04-23 10:33] ddorgan commented on #97
Closing, version now controlled via docker image only.

[2019-04-23 10:33] #97 closed

[2019-04-23 10:33] ddorgan commented on #108
@benjaminfontaine sorry for the delay, still need to look into this.

[2019-04-27 22:39] drandreaskrueger commented on #97
sounds good.

so parity-deploy does not need any local parity installation anymore? All is working through docker now? Well done, @ddorgan  !

[2019-04-29 16:34] ddorgan commented on #97
@drandreaskrueger yip that is exactly the case....thanks!

[2019-05-02 08:27] benjaminfontaine commented on #108
@ddorgan : no problem, thanks a lot for looking into this. I will also keep trying on my side.
Let's see who finds out first :)

[2019-05-12 10:15] vkomenda opened #110 "The dev account is invalid"
Trying to unlock the dev account leads to an error:

[code]

The account was added in #101.

Can you please tell me how to unlock it.

[2019-05-14 13:05] skinderis commented on #75
@daithi-coombes thanks, your solution solved the problem